#mainWindow, #drawAreax {
    background-color: #458B74;
    color: white;
    font-weight: bold;
    font-size: x-large;
}

#weekdayLabel {
    font-size: 75%;
    /* font-weight: normal; */
}

#monthLabel {
    font-size: xx-large;
    font-weight: normal;
}

